@charset "UTF-8";
@font-face {
  font-family: Geometria;
  /* Имя шрифта */
  src: url(../fonts/geometria/Geometria.ttf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Caveat;
  /* Имя шрифта */
  src: url(../fonts/caveat/Caveat-Regular.ttf);
  /* Путь к файлу со шрифтом */
}

.header {
  background-image: url(../img/yogaHeader.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.header__main-discription {
  margin-top: 100px;
  margin-left: 280px;
  margin-bottom: 0px;
  font-family: Caveat;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  color: #8E80A9;
}

.header__main-title {
  margin-top: -30px;
  margin-bottom: 0;
  font-family: Geometria;
  font-size: 265px;
  letter-spacing: 0.34em;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 50px rgba(131, 115, 161, 0.6);
}

.top-navigation {
  padding: 40px 160px 0 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-navigation__nav-menu {
  font-family: Geometria;
  font-size: 16px;
  font-weight: bold;
  color: #8B7EAC;
}

.top-navigation__phone-number {
  font-family: Geometria;
  font-size: 16px;
  font-weight: bold;
  color: #8B7EAC;
}

.registration {
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.registration__button {
  width: 56px;
  height: 48px;
  margin-right: 13px;
  border: 0;
  background: #E65C7B;
}

.registration__label {
  width: 190px;
  height: 40px;
  font-family: Geometria;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin: auto 0;
  color: #E65C7B;
}

.bot-navigation {
  margin: 150px 160px 0 160px;
  padding-bottom: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bot-navigation__city {
  font-family: Geometria;
  font-size: 16px;
  font-weight: bold;
  color: #8B7EAC;
}

.social-buttons {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.directions {
  background-image: url(../img/yogaPattern2.png);
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 65px;
}

.directions__button {
  border: 0;
  cursor: pointer;
  width: 100%;
  height: 48px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
          box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
  font-family: Geometria;
  font-size: 12px;
  font-weight: bold;
  color: #8E80A9;
}

.directions__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 65px;
  height: 490px;
}

.subtitle {
  text-align: center;
  font-family: Geometria;
  font-size: 30px;
  font-weight: bold;
  color: #8E80A9;
  width: 100%;
}

.direction-item {
  width: 525px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.direction-item__wrapper {
  width: 270px;
  height: 115px;
  padding-left: 35px;
  padding-top: 35px;
  padding-bottom: 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
          box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.direction-item__coach {
  display: block;
  width: 123px;
  height: 30px;
  font-family: Geometria;
  font-size: 12px;
  line-height: 15px;
  color: #E65C7B;
  margin-right: 0;
}

.direction-item__button {
  width: 45px;
  height: 30px;
  background: #8E80A9;
  color: white;
  cursor: pointer;
  border: 0;
  margin-left: 65px;
}

.direction-item__title {
  margin: 0;
  display: block;
  font-family: Geometria;
  font-size: 16px;
  color: #8E80A9;
}

.direction-item__work-time {
  font-family: Geometria;
  height: 40px;
  font-size: 12px;
  line-height: 20px;
  color: #8E80A9;
}

.direction-item--main {
  margin-left: 260px;
  margin-top: 65px;
  margin-right: 35px;
  margin-bottom: 155px;
  width: 360px;
  height: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.direction-item--main .direction-item__image {
  width: 360px;
  height: 310px;
}

.direction-item--main .direction-item__wrapper {
  width: 250px;
  padding-left: 45px;
}

.direction-item--main .direction-item__button {
  width: 64px;
  height: 180px;
  margin: 0;
}

.season-tickets {
  background-image: url(../img/yogaClouds.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.season-tickets__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 930px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tickets-duration {
  width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tickets-duration__item__button {
  font-family: Geometria;
  font-size: 12px;
  font-weight: bold;
  color: #E65C7B;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.tickets-duration__item--active {
  padding-bottom: 5px;
  border-bottom: 1px solid #E65C7B;
}

.ticket-item {
  width: 260px;
  height: 240px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
          box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
}

.ticket-item__title {
  text-align: center;
  font-family: Geometria;
  font-size: 18px;
  color: #8E80A9;
  margin-top: 58px;
}

.ticket-item__time {
  font-family: Geometria;
  font-size: 12px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
  color: #E65C7B;
}

.ticket-item__cost {
  display: block;
  width: 100%;
  font-family: Geometria;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #8E80A9;
}

.ticket-item__button {
  font-family: Geometria;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
  width: 225px;
  height: 55px;
  background: #8E80A9;
  border: 0;
  cursor: pointer;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ticket-item--active {
  width: 330px;
  height: 330px;
  margin-bottom: 146px;
}
/*# sourceMappingURL=index.css.map */