@font-face {
  font-family: Geometria; /* Имя шрифта */
  src: url(../fonts/geometria/Geometria.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Caveat; /* Имя шрифта */
  src: url(../fonts/caveat/Caveat-Regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: Francois One; /* Имя шрифта */
  src: url(../fonts/Francois-One/FrancoisOne-Regular.ttf); /* Путь к файлу со шрифтом */
}

body {
  overflow-x: hidden;
}

.header {
  background-image: url(../img/yogaHeader.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  &__main-discription {
    margin-top: 100px;
    margin-left: 280px;
    margin-bottom: 0px;

    font-family: Caveat;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;

    color: #8e80a9;
  }

  &__main-title {
    margin-top: -30px;
    margin-bottom: 0;
    width: 100%;
    font-family: Geometria;
    font-size: 265px;
    letter-spacing: 0.34em;
    text-align: center;

    color: #ffffff;

    text-shadow: 0px 4px 50px rgba(131, 115, 161, 0.6);
  }
}
.top-navigation {
  padding: 40px 160px 0 160px;

  display: flex;
  justify-content: space-between;

  &__nav-menu {
    font-family: Geometria;
    font-size: 16px;
    font-weight: bold;

    color: #8b7eac;
  }

  &__phone-number {
    font-family: Geometria;
    font-size: 16px;
    font-weight: bold;

    color: #8b7eac;
  }
}
.registration {
  width: 260px;
  display: flex;
  margin: 0 auto;

  &__button {
    width: 56px;
    height: 48px;
    margin-right: 13px;
    border: 0;
    background: #e65c7b;
    color: white;
    cursor: pointer;
  }

  &__label {
    width: 190px;
    height: 40px;
    font-family: Geometria;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin: auto 0;
    color: #e65c7b;
  }
}
.bot-navigation {
  margin: 150px 160px 0 160px;
  padding-bottom: 140px;
  display: flex;
  justify-content: space-between;

  &__city {
    font-family: Geometria;
    font-size: 16px;
    font-weight: bold;
    color: #8b7eac;
  }
}
.social-buttons {
  width: 60px;
  display: flex;
  justify-content: space-between;
  &__vk {
    
    cursor: pointer;
  }

  &__twitter {
    cursor: pointer;
  }

  &__facebook {
    cursor: pointer;
  }
}

.social-buttons--double {
  width: 40px;
  display: flex;
  justify-content: space-between;
  &__vk {
    cursor: pointer;
  }

  &__twitter {
    cursor: pointer;
  }
}
.directions {
  background-image: url(../img/yogaPattern2.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  padding-top: 65px;

  &__button {
    border: 0;
    cursor: pointer;
    width: 100%;
    height: 48px;
    background: #ffffff;
    box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
    font-family: Geometria;
    font-size: 12px;
    font-weight: bold;
    color: #8e80a9;
  }

  &__wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin-top: 65px;
    margin-right: auto;
    height: 490px;
  }
}
.subtitle {
  text-align: center;
  font-family: Geometria;
  font-size: 30px;
  font-weight: bold;
  color: #8e80a9;
  width: 100%;
}
.direction-item {
  width: 525px;
  height: 180px;
  display: flex;
  flex-wrap: wrap;

  &__wrapper {
    width: 235px;
    height: 110px;
    padding: 35px;
    background: #ffffff;
    box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
    display: flex;
    flex-wrap: wrap;
  }

  &__coach {
    display: block;
    width: 123px;
    height: 30px;
    font-family: Geometria;
    font-size: 12px;
    line-height: 15px;
    color: #e65c7b;
    margin-right: 0;
  }

  &__button {
    display: none;
    width: 45px;
    height: 30px;
    background: #8e80a9;
    color: white;
    cursor: pointer;
    border: 0;
    margin-left: auto;
    
    &-wrap {
      width: 45px;
      height: 30px;
      background: #8e80a9;
      color: white;
      cursor: pointer;
      border: 0;
      margin-left: auto;
    }
  }


  &__title {
    margin: 0;
    display: block;
    font-family: Geometria;
    font-size: 16px;
    color: #8e80a9;
  }

  &__work-time {
    font-family: Geometria;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    color: #8e80a9;
  }
}
.direction-item--main {
  margin-left: auto;
  margin-top: 65px;
  margin-right: 35px;
  margin-bottom: 155px;
  width: 360px;
  height: 490px;
  display: flex;
  flex-wrap: wrap;

  .direction-item {
    &__image {
      width: 360px;
      height: 310px;
    }

    &__wrapper {
      width: 250px;
      padding-left: 35px;
      padding-right: 10px;
    }

    &__button {
      display: block;
      width: 64px;
      height: 180px;
      margin: 0;
    }
  }
}

.season-tickets {
  background-image: url(../img/yogaClouds.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  &__wrapper {
    display: flex;
    width: 930px;
    margin: 0 auto;
    justify-content: space-between;
  }
}
.tickets-duration {
  width: 290px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
  justify-content: space-between;

  &__item {
    &__button {
      font-family: Geometria;
      font-size: 12px;
      font-weight: bold;
      color: #e65c7b;
      background-color: transparent;
      border: 0;
      cursor: pointer;
    }
  }

  &__item--active {
    padding-bottom: 5px;
    border-bottom: 1px solid #e65c7b;
  }
}
.ticket-item {
  width: 260px;
  height: 240px;
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);

  &__title {
    text-align: center;
    font-family: Geometria;
    font-size: 18px;
    color: #8e80a9;
    margin-top: 58px;
  }

  &__time {
    font-family: Geometria;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
    color: #e65c7b;
  }

  &__cost {
    display: block;
    width: 100%;
    font-family: Geometria;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #8e80a9;
  }

  &__button {
    font-family: Geometria;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    width: 225px;
    height: 55px;
    background: #8e80a9;
    border: 0;
    cursor: pointer;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
}
.ticket-item--active {
  width: 330px;
  height: 330px;
  margin-bottom: 146px;
  
  .ticket-item__button {
    display: block;
  }
}
.team {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &__wrapper {
    display: flex;
    width: 425px;
    flex-wrap: wrap;
    padding: 0;
    margin-left: auto;
  }

  &__background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 1325;
    top: -15%;
    left: -10%;
  }

  &__forward-pagination {
    width: 15px;
    height: 30px;
    background: #8E80A9;
    color: white;
    font-size: 10px;
    border: 0;
    vertical-align: middle;
    text-align: center;
    margin: auto 0;
    display: none;
  }

  &__backward-pagination {
    width: 15px;
    height: 30px;
    background: #8E80A9;
    color: white;
    font-size: 10px;
    border: 0;
    vertical-align: middle;
    text-align: center;
    margin: auto 0;
    display: none;
  }
}
.team-member {
  list-style: none;
  width: 100%;
  height: 160px;
  display: flex;
  margin-bottom: 30px;

  &__wrapper {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 65px;
    padding: 20px 25px;
    background: #ffffff;
    box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
  }

  &__image {
    width: 144px;
    height: 144px;
    margin-right: -120px;
    z-index: 1;
  }

  &__name {
    width: 90px;
    height: 40px;
    font-family: Geometria;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color: #e65c7b;
    margin: 0 80px 10px 140px;
  }

  &__direction {
    width: 96px;
    height: 20px;
    font-family: Geometria;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color: #8e80a9;
    margin-left: 140px;
  }

  &__details {
    border: 0;
    border-bottom: 1px solid #8e80a9;
    background: transparent;
    width: 60px;
    padding: 0;
    height: 20px;
    font-family: Geometria;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color: #8e80a9;
    cursor: pointer;
    margin-left: auto;
  }
}
.pagination {
  width: 160px;
  margin-top: 45px;
  margin-left: auto;
  display: flex;
  justify-content: space-between;

  &__back {
    width: 45px;
    height: 30px;
    border: 0;
    background-color: #8e80a9;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: #8e80a9;
      border: 1px solid #8e80a9;
    }
  }

  &__count {
    width: 27px;
    height: 20px;
    font-family: Geometria;
    font-size: 16px;
    line-height: 20px;
    color: #8e80a9;
    margin: auto;
  }

  &__forward {
    width: 45px;
    height: 30px;
    border: 0;
    background-color: #8e80a9;
    color: white;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: #8e80a9;
      border: 1px solid #8e80a9;
    }
  }
}
.trainer {
  margin-top: 55px;
  margin-left: 65px;
  margin-right: auto;
  width: 500px;
  position: relative;

  &__background {
    position: absolute;
    width: 100%;
    height: 514px;
    left: 5%;
    top: -17%;
  }

  &__title {
    font-family: Geometria;
    font-size: 18px;
    line-height: 20px;
    color: #8e80a9;
    margin-bottom: 10px;
  }

  &__experience {
    font-family: Geometria;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #e65c7b;
    margin-bottom: 25px;
  }
}
.about-trainer {
  &__text {
    font-family: Geometria;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color: #8e80a9;
    margin-bottom: 35px;
  }
}
.reviews {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 145px;

  &__button-back {
    margin: auto -33px auto auto;
    width: 45px;
    height: 30px;
    color: white;
    background: #8e80a9;
    border: 0;
    cursor: pointer;
    z-index: 1;
  }

  &__button-forward {
    margin: auto auto auto -33px;
    width: 45px;
    height: 30px;
    color: white;
    background: #8e80a9;
    border: 0;
    cursor: pointer;
  }
  
  .pagination {
    display: none;
  }
}
.review-item {
  width: 305px;
  height: 315px;
  margin: 0 10px;
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
  padding-left: 85px;
  padding-right: 55px;

  &__icon {
    display: block;
    width: 34px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;

    font-family: Francois One;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    color: rgba(142, 128, 169, 0.39);
  }

  &__description {
    width: 300px;
    font-family: Geometria;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    color: #8e80a9;
    margin-top: 0px;
    margin-bottom: 25px;
  }
}
.reviewer {
  display: flex;
  margin-top: -10px;
  margin-bottom: 30px;

  &__image {
    width: 51px;
    height: 51px;
  }

  &__wrapper {
    margin-left: 13px;
    display: flex;
    flex-wrap: wrap;
  }

  &__name {
    width: 100%;
    height: 16px;
    font-family: Geometria;
    font-size: 12px;
    margin: 0;

    color: rgba(230, 92, 123, 0.7);
  }

  &__date {
    width: 100%;
    height: 16px;
    font-family: Geometria;
    font-weight: bold;
    font-size: 10px;
    color: rgba(142, 128, 169, 0.7);
  }
}
.footer {
  background-image: url(../img/yogaFooter.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.top-footer {
  height: 475px;
  width: 930px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 25px;
}

.contacts {
  margin-top: 170px;
  width: 400px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__address {
    width: 220px;
    font-family: Geometria;
    font-size: 14px;
    line-height: 20px;
    color: #8e80a9;
    
    &__small {
      font-size: 12px;
    }
  }

  &__work-time {
    width: 220px;
    font-family: Geometria;
    font-size: 14px;
    line-height: 20px;
    color: #8e80a9;

    &__small {
      font-size: 12px;
    }
  }

  &__number {
    width: 145px;
    font-family: Geometria;
    font-size: 14px;
    line-height: 20px;
    color: #8e80a9;
  }

  &__email {
    width: 145px;
    font-family: Geometria;
    font-size: 14px;
    line-height: 20px;
    color: #8e80a9;

    &__small {
      font-size: 12px;
    }
  }
}
.form {
  width: 410px;
  height: 335px;
  margin-top: 20px;

  &__title {
    font-family: Geometria;
    font-size: 30px;
    line-height: 40px;
    color: #8e80a9;
    margin-bottom: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  &__label {
    font-family: Geometria;
    font-size: 14px;
    line-height: 20px;
    color: rgba(142, 128, 169, 0.4);
    padding-top: -20px;
    transform: translateY(40px);
    transform-origin: left top;
    cursor: text;
    transition: all 0.3s;
  }

  &__input {
    width: 400px;
    background: transparent;
    border: none;
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    border-bottom: 1px solid #bdbdbd;
    outline: none;
    font-family: Geometria;
    font-size: 14px;
    line-height: 20px;
    color: rgba(142, 128, 169, 0.4);

    &:focus,
    &:not(:placeholder-shown) {
      color: #8e80a9;
      font-weight: bold;
      border-bottom: 2px solid #8e80a9;
    }

    &:focus + label,
    &:not(:placeholder-shown) + label {
      color: #8e80a9;
      font-weight: bold;
      transform: translateY(10px) scale(0.8);
    }
  }

  &__button {
    margin-top: 55px;
    width: 407px;
    height: 56px;
    background: #e65c7b;
    border: 0;
    color: white;
    font-family: Geometria;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #ffffff;

    cursor: pointer;
  }
}
.bot-footer {
  width: 100%;
  height: 75px;
  display: flex;
  background-color: #8373a1;

  .contacts {
    display: none;
  }

  &__wrapper {
    width: 100%;
    padding: 0 270px;
    display: flex;
    justify-content: space-between;
  }

  &__site {
    font-family: Geometria;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color: rgba(255, 255, 255, 0.5);
  }

  &__copyrights {
    font-family: Geometria;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color: rgba(255, 255, 255, 0.5);
  }
}


@import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/placeholders";
@import "./abstracts/variables";

@import "./base/normalize";
@import "./base/typography";

@import "./components/buttons";

@import "./layout/footer";
@import "./layout/forms";
@import "./layout/header";
@import "./layout/media";
@import "./layout/navigation";
