@charset "UTF-8";
@font-face {
  font-family: Geometria;
  /* Имя шрифта */
  src: url(../fonts/geometria/Geometria.ttf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Caveat;
  /* Имя шрифта */
  src: url(../fonts/caveat/Caveat-Regular.ttf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Francois One;
  /* Имя шрифта */
  src: url(../fonts/Francois-One/FrancoisOne-Regular.ttf);
  /* Путь к файлу со шрифтом */
}

.header {
  background-image: url(../img/yogaHeader.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.header__main-discription {
  margin-top: 100px;
  margin-left: 280px;
  margin-bottom: 0px;
  font-family: Caveat;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  color: #8e80a9;
}

.header__main-title {
  margin-top: -30px;
  margin-bottom: 0;
  width: 100%;
  font-family: Geometria;
  font-size: 265px;
  letter-spacing: 0.34em;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 50px rgba(131, 115, 161, 0.6);
}

.top-navigation {
  padding: 40px 160px 0 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-navigation__nav-menu {
  font-family: Geometria;
  font-size: 16px;
  font-weight: bold;
  color: #8b7eac;
}

.top-navigation__phone-number {
  font-family: Geometria;
  font-size: 16px;
  font-weight: bold;
  color: #8b7eac;
}

.registration {
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.registration__button {
  width: 56px;
  height: 48px;
  margin-right: 13px;
  border: 0;
  background: #e65c7b;
  color: white;
  cursor: pointer;
}

.registration__label {
  width: 190px;
  height: 40px;
  font-family: Geometria;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin: auto 0;
  color: #e65c7b;
}

.bot-navigation {
  margin: 150px 160px 0 160px;
  padding-bottom: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bot-navigation__city {
  font-family: Geometria;
  font-size: 16px;
  font-weight: bold;
  color: #8b7eac;
}

.social-buttons {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-buttons__vk {
  cursor: pointer;
}

.social-buttons__twitter {
  cursor: pointer;
}

.social-buttons__facebook {
  cursor: pointer;
}

.social-buttons--double {
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-buttons--double__vk {
  cursor: pointer;
}

.social-buttons--double__twitter {
  cursor: pointer;
}

.directions {
  background-image: url(../img/yogaPattern2.png);
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 65px;
}

.directions__button {
  border: 0;
  cursor: pointer;
  width: 100%;
  height: 48px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
          box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
  font-family: Geometria;
  font-size: 12px;
  font-weight: bold;
  color: #8e80a9;
}

.directions__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 65px;
  margin-right: auto;
  height: 490px;
}

.subtitle {
  text-align: center;
  font-family: Geometria;
  font-size: 30px;
  font-weight: bold;
  color: #8e80a9;
  width: 100%;
}

.direction-item {
  width: 525px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.direction-item__wrapper {
  width: 235px;
  height: 110px;
  padding: 35px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
          box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.direction-item__coach {
  display: block;
  width: 123px;
  height: 30px;
  font-family: Geometria;
  font-size: 12px;
  line-height: 15px;
  color: #e65c7b;
  margin-right: 0;
}

.direction-item__button {
  width: 45px;
  height: 30px;
  background: #8e80a9;
  color: white;
  cursor: pointer;
  border: 0;
  margin-left: auto;
}

.direction-item__title {
  margin: 0;
  display: block;
  font-family: Geometria;
  font-size: 16px;
  color: #8e80a9;
}

.direction-item__work-time {
  font-family: Geometria;
  height: 40px;
  font-size: 12px;
  line-height: 20px;
  color: #8e80a9;
}

.direction-item--main {
  margin-left: auto;
  margin-top: 65px;
  margin-right: 35px;
  margin-bottom: 155px;
  width: 360px;
  height: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.direction-item--main .direction-item__image {
  width: 360px;
  height: 310px;
}

.direction-item--main .direction-item__wrapper {
  width: 250px;
  padding-left: 35px;
  padding-right: 10px;
}

.direction-item--main .direction-item__button {
  width: 64px;
  height: 180px;
  margin: 0;
}

.season-tickets {
  background-image: url(../img/yogaClouds.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.season-tickets__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 930px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tickets-duration {
  width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tickets-duration__item__button {
  font-family: Geometria;
  font-size: 12px;
  font-weight: bold;
  color: #e65c7b;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.tickets-duration__item--active {
  padding-bottom: 5px;
  border-bottom: 1px solid #e65c7b;
}

.ticket-item {
  width: 260px;
  height: 240px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
          box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
}

.ticket-item__title {
  text-align: center;
  font-family: Geometria;
  font-size: 18px;
  color: #8e80a9;
  margin-top: 58px;
}

.ticket-item__time {
  font-family: Geometria;
  font-size: 12px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
  color: #e65c7b;
}

.ticket-item__cost {
  display: block;
  width: 100%;
  font-family: Geometria;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #8e80a9;
}

.ticket-item__button {
  font-family: Geometria;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  width: 225px;
  height: 55px;
  background: #8e80a9;
  border: 0;
  cursor: pointer;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ticket-item--active {
  width: 330px;
  height: 330px;
  margin-bottom: 146px;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 425px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin-left: auto;
  position: relative;
}

.team__wrapper__background {
  position: absolute;
  z-index: -1;
  width: 1200px;
  height: 1325;
  top: -23%;
  left: -63%;
}

.team-member {
  list-style: none;
  width: 100%;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.team-member__wrapper {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 350px;
  height: 65px;
  padding: 20px 25px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
          box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
}

.team-member__image {
  width: 144px;
  height: 144px;
  margin-right: -120px;
  z-index: 1;
}

.team-member__name {
  width: 90px;
  height: 40px;
  font-family: Geometria;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  color: #e65c7b;
  margin: 0 80px 10px 140px;
}

.team-member__direction {
  width: 96px;
  height: 20px;
  font-family: Geometria;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  color: #8e80a9;
  margin-left: 140px;
}

.team-member__details {
  border: 0;
  border-bottom: 1px solid #8e80a9;
  background: transparent;
  width: 60px;
  padding: 0;
  height: 20px;
  font-family: Geometria;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  color: #8e80a9;
  cursor: pointer;
  margin-left: auto;
}

.pagination {
  width: 160px;
  margin-top: 45px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pagination__back {
  width: 45px;
  height: 30px;
  border: 0;
  background-color: #8e80a9;
  color: white;
  cursor: pointer;
}

.pagination__back:hover {
  background-color: white;
  color: #8e80a9;
  border: 1px solid #8e80a9;
}

.pagination__count {
  width: 27px;
  height: 20px;
  font-family: Geometria;
  font-size: 16px;
  line-height: 20px;
  color: #8e80a9;
  margin: auto;
}

.pagination__forward {
  width: 45px;
  height: 30px;
  border: 0;
  background-color: #8e80a9;
  color: white;
  cursor: pointer;
}

.pagination__forward:hover {
  background-color: white;
  color: #8e80a9;
  border: 1px solid #8e80a9;
}

.trainer {
  margin-top: 55px;
  margin-left: 65px;
  margin-right: auto;
  width: 500px;
  position: relative;
}

.trainer__background {
  position: absolute;
  width: 576px;
  height: 514px;
  left: 5%;
  top: -17%;
}

.trainer__title {
  font-family: Geometria;
  font-size: 18px;
  line-height: 20px;
  color: #8e80a9;
  margin-bottom: 10px;
}

.trainer__experience {
  font-family: Geometria;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: #e65c7b;
  margin-bottom: 25px;
}

.about-trainer__text {
  font-family: Geometria;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  color: #8e80a9;
  margin-bottom: 35px;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews__button-back {
  margin: auto -33px auto auto;
  width: 45px;
  height: 30px;
  color: white;
  background: #8e80a9;
  border: 0;
  cursor: pointer;
  z-index: 1;
}

.reviews__button-forward {
  margin: auto auto auto -33px;
  width: 45px;
  height: 30px;
  color: white;
  background: #8e80a9;
  border: 0;
  cursor: pointer;
}

.review-item {
  width: 305px;
  height: 315px;
  margin: 0 10px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
          box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
  padding-left: 85px;
  padding-right: 55px;
}

.review-item__icon {
  display: block;
  width: 34px;
  height: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Francois One;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  color: rgba(142, 128, 169, 0.39);
}

.review-item__description {
  width: 300px;
  font-family: Geometria;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  color: #8e80a9;
  margin-top: 0px;
  margin-bottom: 25px;
}

.reviewer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -10px;
  margin-bottom: 30px;
}

.reviewer__image {
  width: 51px;
  height: 51px;
}

.reviewer__wrapper {
  margin-left: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviewer__name {
  width: 100%;
  height: 16px;
  font-family: Geometria;
  font-size: 12px;
  margin: 0;
  color: rgba(230, 92, 123, 0.7);
}

.reviewer__date {
  width: 100%;
  height: 16px;
  font-family: Geometria;
  font-weight: bold;
  font-size: 10px;
  color: rgba(142, 128, 169, 0.7);
}

.footer {
  background-image: url(../img/yogaFooter.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.top-footer {
  height: 475px;
  width: 930px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.contacts {
  margin-top: 170px;
  width: 400px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__address {
  width: 220px;
  font-family: Geometria;
  font-size: 14px;
  line-height: 20px;
  color: #8e80a9;
}

.contacts__work-time {
  width: 220px;
  font-family: Geometria;
  font-size: 14px;
  line-height: 20px;
  color: #8e80a9;
}

.contacts__number {
  width: 145px;
  font-family: Geometria;
  font-size: 14px;
  line-height: 20px;
  color: #8e80a9;
}

.contacts__email {
  width: 145px;
  font-family: Geometria;
  font-size: 14px;
  line-height: 20px;
  color: #8e80a9;
}

.form {
  width: 410px;
  height: 335px;
  margin-top: 20px;
}

.form__title {
  font-family: Geometria;
  font-size: 30px;
  line-height: 40px;
  color: #8e80a9;
  margin-bottom: 0;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.form__label {
  font-family: Geometria;
  font-size: 14px;
  line-height: 20px;
  color: rgba(142, 128, 169, 0.4);
  padding-top: -20px;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  cursor: text;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form__input {
  width: 400px;
  background: transparent;
  border: none;
  padding: 10px;
  margin-top: 5px;
  font-size: 14px;
  border-bottom: 1px solid #bdbdbd;
  outline: none;
  font-family: Geometria;
  font-size: 14px;
  line-height: 20px;
  color: rgba(142, 128, 169, 0.4);
}

.form__input:focus, .form__input:not(:placeholder-shown) {
  color: #8e80a9;
  font-weight: bold;
  border-bottom: 2px solid #8e80a9;
}

.form__input:focus + label,
.form__input:not(:placeholder-shown) + label {
  color: #8e80a9;
  font-weight: bold;
  -webkit-transform: translateY(10px) scale(0.8);
          transform: translateY(10px) scale(0.8);
}

.form__button {
  margin-top: 55px;
  width: 407px;
  height: 56px;
  background: #e65c7b;
  border: 0;
  color: white;
  font-family: Geometria;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: #ffffff;
  cursor: pointer;
}

.copyrights {
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #8373a1;
}

.copyrights__site {
  font-family: Geometria;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 379px;
  color: rgba(255, 255, 255, 0.5);
}

.copyrights__node {
  font-family: Geometria;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 379px;
  color: rgba(255, 255, 255, 0.5);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

@media (max-width: 1024px) {
  .header__main-discription {
    width: 315px;
    margin-top: 75px;
    margin-left: 250px;
    font-size: 24px;
  }
  .header__main-title {
    font-size: 144px;
  }
  .top-navigation {
    padding: 35px 130px 0 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .top-navigation__nav-menu {
    font-size: 12px;
  }
  .top-navigation__phone-number {
    font-size: 12px;
  }
  .registration {
    width: 240px;
    height: 26px;
  }
  .registration__button {
    display: block;
    width: 30px;
    height: 26px;
  }
  .registration__label {
    width: 170px;
    height: 26px;
    font-size: 10px;
    line-height: 12px;
  }
  .bot-navigation {
    margin: 80px 130px 0 130px;
    padding-bottom: 0px;
  }
  .bot-navigation__city {
    font-size: 12px;
  }
  .social-buttons {
    width: 35px;
  }
  .social-buttons--double {
    width: 25px;
  }
  .subtitle {
    font-size: 21px;
  }
  .directions {
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .directions__wrapper {
    height: 335px;
    margin-top: 23px;
  }
  .direction-item {
    width: 355px;
    height: 121px;
  }
  .direction-item__image {
    width: 148px;
    height: 121px;
    size: 100%;
  }
  .direction-item__wrapper {
    padding: 20px;
    width: 165px;
    height: 81px;
  }
  .direction-item__title {
    font-size: 12px;
  }
  .direction-item__work-time {
    height: 27px;
    font-size: 10px;
    line-height: 15px;
  }
  .direction-item__coach {
    width: 120px;
    font-size: 10px;
    line-height: 15px;
  }
  .direction-item__button {
    width: 30px;
    height: 20px;
  }
  .direction-item--main {
    width: 243px;
    height: 335px;
    margin-top: 23px;
    margin-bottom: 100px;
  }
  .direction-item--main .direction-item__wrapper {
    padding: 20px;
    width: 160px;
  }
  .direction-item--main .direction-item__image {
    width: 243px;
    height: 210px;
    size: 100%;
  }
  .direction-item--main .direction-item__button {
    width: 43px;
    height: 122px;
    margin: 0;
  }
  .season-tickets__wrapper {
    width: 620px;
  }
  .tickets-duration {
    margin-top: 10px;
    margin-bottom: 45px;
  }
  .ticket-item {
    width: 175px;
    height: 160px;
  }
  .ticket-item__title {
    font-size: 18px;
    margin-top: 35px;
    margin-bottom: 12px;
  }
  .ticket-item__time {
    font-size: 10px;
    line-height: 15px;
    margin-top: 0;
    margin-bottom: 12px;
  }
  .ticket-item__cost {
    font-size: 21px;
  }
  .ticket-item__button {
    width: 150px;
    height: 35px;
    font-size: 10px;
    margin-top: 20px;
  }
  .ticket-item--active {
    width: 220px;
    height: 220px;
    margin-bottom: 110px;
  }
}
/*# sourceMappingURL=main.css.map */