@media(max-width: 1024px) {
  .header {
    &__main-discription {
      width: 315px;
      margin-top: 75px;
      margin-left: 250px;
      font-size: 24px;
    }

    &__main-title {  
      font-size: 144px;
    }

  }

  .top-navigation {
    padding: 35px 130px 0 130px;
  
    display: flex;
    justify-content: space-between;
  
    &__nav-menu {
      font-size: 12px;
    }
  
    &__phone-number {
      font-size: 12px;
    }
  }

  .registration {
    width: 240px;
    height: 26px;

    &__button {
      display: block;
      width: 30px;
      height: 26px;
    }

    &__label {
      width: 170px;
      height: 26px;
      font-size: 10px;
      line-height: 12px;
    }
  }

  .bot-navigation {
    margin: 80px 130px 0 130px;
    padding-bottom: 0px;

    &__city {
      font-size: 12px;
    }
  }

  .social-buttons {
    width: 35px;
    &__vk {
    }
    &__twitter {
    }
  
    &__facebook {
    }
  }
  
  .social-buttons--double {
    width: 25px;

    &__vk {
    }
  
    &__twitter {
    }
  }

  .subtitle {
    font-size: 21px;
  }
  
  .main {
  }

  .directions {
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
  
      &__wrapper {
        height: 335px;
        margin-top: 23px;
      }
  
      &__button {
      }
  }
  .direction-item {
    width: 355px;
    height: 121px;
  
      &__image {
        width: 148px;
        height: 121px;
        size: 100%;
      }
  
      &__wrapper {
        padding: 20px;
        width: 165px;
        height: 81px;
      }
  
      &__title {
        font-size: 12px;
      }
  
      &__work-time {
        height: 27px;
        font-size: 10px;
        line-height: 15px;
      }
  
      &__coach {
        width: 120px;
        font-size: 10px;
        line-height: 15px;
      }
  
      &__button {
        width: 30px;
        height: 20px;
      }
  }
  .direction-item--main {
    width: 243px;
    height: 335px;
    margin-top: 23px;
    margin-bottom: 100px;

    .direction-item {

      &__wrapper {
        padding: 20px;
        width: 160px;
      }

      &__image {
        width: 243px;
        height: 210px;
        size: 100%;
      }

      &__button {
        width: 43px;
        height: 122px;
        margin: 0;
      }
    }
  }
  .season-tickets {
  
      &__wrapper {
        width: 620px;
      }
  }
  .tickets-duration {

    margin-top: 10px;
    margin-bottom: 45px;
  
      &__item {
      }
  
      &__item--active {
      }
  }
  .ticket-item {
    width: 175px;
    height: 160px;
  
      &__title {
        font-size: 18px;
        margin-top: 35px;
        margin-bottom: 12px;
      }
  
      &__time {
        font-size: 10px;
        line-height: 15px;
        margin-top: 0;
        margin-bottom: 12px;
      }
  
      &__cost {
        font-size: 21px;
      }
  
      &__button {
        width: 150px;
        height: 35px;
        font-size: 10px;
        margin-top: 20px;
      }
  }
  .ticket-item--active {
    width: 220px;
    height: 220px;
    margin-bottom: 110px;
  }
  .team {
  
      &__wrapper {
      }
  }
  .team-member {
  
      &__image {
      }
  
      &__wrapper {
      }
  
      &__name {
      }
  
      &__direction {
      }
  
      &__details {
      }
  }
  .social-buttons {
  
      &__vk {
      }
  
      &__twitter {
      }
  }
  .social-buttons--double {
  }
  .pagination {
  
      &__back {
      }
  
      &__count {
      }
  
      &__forward {
      }
  }
  .trainer {
  
      &__background {
      }
  
      &__title {
      }
  
      &__experience {
      }
  }
  .about-trainer {
  
      &__text {
      }
  }
  .reviews {
  
      &__button-back {
      }
  
      &__button-forward {
      }
  }
  .review-item {
  
      &__icon {
      }
  
      &__description {
      }
  }
  .reviewer {
  
      &__image {
      }
  
      &__wrapper {
      }
  
      &__name {
      }
  
      &__date {
      }
  }
  

}